body {
    /* space */
    margin: 0;
}

.main-container {
    /* flex */
    display: flex;
    flex-direction: column;

    /* size */
    min-height: 100vh;
}
.container {
    /* space */
    padding: 0 1vh;
}

header {
    /* background */
    background-color: hsl(0, 0%, 96%);
}
header h2 {
    /* space */
    margin: 0;
    padding: 2vh 0;

    /* font */
    font-size: 1.0rem;
}
header h2 a {
    /* font */
    text-decoration: none;
    color: hsl(0, 0%, 0%)
}

main h1 { font-size: 1.5rem }
main h2 { font-size: 1.4rem }
main h3 { font-size: 1.3rem }
main h4 { font-size: 1.2rem }
main h5 { font-size: 1.1rem }
main h6 { font-size: 1.0rem }

main .article-list {
    /* space */
    margin: 0;
    padding: 0;

    /* list */
    list-style: none;
}
main .article-list li {
    /* space */
    margin: 10px 0;

    /* flex */
    display: flex;
    align-items: center;
}
main .article-list .date {
    /* space */
    margin-right: 10px;

    /* font */
    font-size: 0.7rem;
    color: hsl(0, 0%, 50%);
}

footer {
    /* space */
    margin-top: auto;
    padding: 2vh 0;

    /* background */
    background-color: hsl(0, 0%, 96%);

    /* font */
    text-align: center;
    font-size: 0.8rem;
    color: hsl(0, 0%, 50%);
}

.pagination {
    /* flex */
    display: flex;
    justify-content: center;

    /* space */
    padding: 0;

    /* list */
    list-style: none;
}
.pagination li { padding: 0 10px; }
.pagination li a { text-decoration: none; color: black; }
.pagination li.active { background-color: hsl(0, 0%, 76%); border-radius: 2px; }
.pagination li.disabled a { cursor: default; pointer-events: none; color: hsl(0, 0%, 76%); }
.pagination li:first-child span { font-size: 0 }
.pagination li:first-child span:after { font-size: 1rem; content: "<<";}
.pagination li:nth-child(2) span { font-size: 0 }
.pagination li:nth-child(2) span:after { font-size: 1rem; content: "<"; }
.pagination li:nth-last-child(2) span { font-size: 0 }
.pagination li:nth-last-child(2) span:after { font-size: 1rem; content: ">"; }
.pagination li:last-child span { font-size: 0 }
.pagination li:last-child span:after { font-size: 1rem; content: ">>"; }
