body {
    /* space */
    margin: 0;
}

.main-container {
    /* flex */
    display: flex;
    flex-direction: column;

    /* size */
    min-height: 100vh;
}
.container {
    /* space */
    padding: 0 1vh;
}
header {
}
main {
}
footer {
    /* space */
    margin-top: auto;
    padding: 2vh 0;

    /* background */
    background-color: hsl(0, 0%, 96%);

    /* text */
    text-align: center;
    font-size: 0.8rem;
    color: hsl(0, 0%, 50%);
}
