body {
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer {
    /* space */
    margin-top: auto;
    padding: 2vh 0;

    /* background */
    background-color: hsl(0, 0%, 96%);

    /* text */
    text-align: center;
    font-size: 0.8rem;
    color: hsl(0, 0%, 50%);
}
